@{
    ViewBag.Title = "userAdd";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>添加用户</title>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Resource/css/css.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content(" https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js")"></script>
    <!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="@Url.Content(" https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js")"></script>
    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="@Url.Content(" https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js")">
    </script>
</head>
<body>
    <div class="container" style="margin-top: 20px;">
        <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <!-- 模态框头部 -->
                    <div class="modal-header">
                        <h4 class="modal-title">添加提醒</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- 模态框主体 -->
                    <div class="modal-body">
                        您确定要添加该用户吗？
                    </div>
                    <!-- 模态框底部 -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">确认添加</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">我再想想</button>
                    </div>
                </div>
            </div>
        </div>
        <h5>您正在进行用户添加</h5>
        <ul class="list-group">
            <li class="list-group-item">
                头像:<img src="@Url.Content("~/Resource/images/headpic.png")">
                <button type="button" class="btn btn-warning">选择头像</button>
            </li>
            <li class="list-group-item">用户名:<input type="text" style="width: 300px;" placeholder="例如:沐梦羽" /></li>
            <li class="list-group-item">登录名:<input type="text" style="width: 300px;" placeholder="例如;MuMengYu" /></li>
            <li class="list-group-item">签名:<input type="text" style="width: 500px;" placeholder="例如:当你身处喧闹的都市，四处只是拥挤的人流……" /></li>
            <li class="list-group-item">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    确认添加
                </button>
            </li>
        </ul>
    </div>
</body>
</html>
