
@{
    ViewBag.Title = "pwdAlter";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>修改密码</title>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Resource/css/css.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content(" https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js")"></script>
    <!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="@Url.Content(" https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js")"></script>
    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="@Url.Content(" https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js")">
    </script>
</head>
<body>
    <div class="container" style="margin-top: 20px;">
        <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <!-- 模态框头部 -->
                    <div class="modal-header">
                        <h4 class="modal-title">请牢记您修改的密码</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- 模态框主体 -->
                    <div class="modal-body">
                        您确定要修改您的密码吗？
                    </div>
                    <!-- 模态框底部 -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">确认修改</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">我再想想</button>
                    </div>
                </div>
            </div>
        </div>
        <h5>请谨记您要做的修改</h5>
        <ul class="list-group">
            <li class="list-group-item">请输入旧密码:<input type="text" /></li>
            <li class="list-group-item">请输入新密码:<input type="text" /></li>
            <li class="list-group-item">请再次输入新密码:<input type="text" /></li>
            <li class="list-group-item">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    修改
                </button>
            </li>
        </ul>
    </div>
</body>
</html>
